#formulario{
    width: 85%;
    margin: auto;
}

#contact-form{
    font-size: 1.2rem; 
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    margin: 1rem auto;
}

#contact-form input, #contact-form textarea{
    border: 2px solid var(--bg-btn);
    box-shadow: #66666e 0px 0px 1vw;
    -moz-box-shadow: #66666e 0px 0px 1vw;
    -webkit-box-shadow: #66666e 0px 0px 1vw;
    padding: 0.5rem;
    line-height: 1.5rem;
    font-size: 1rem;
}

#contact-form input:focus, #contact-form textarea:focus{
    outline: none;
    border: 3px solid var(--bg-secondary);
}

#contact-form textarea{
    max-width: 100%;
    min-width: 100%;
    min-height: 4.5rem;
    max-height: 20rem;
}

#contact-form label{
   color: var(--bg-titulo);
   margin-top: 0.5rem;
}

#boton-enviar{
    color: var(--bg-titulo);
    background-color: var(--bg-btn);
    width: 85%;
    margin: 2rem auto;
    border-radius: 1.5rem;
    font-size: 1.2rem !important;
}

form div {
    display: flex;
    width: 100%;
    margin-top: 0.5rem;
}

form div input, form div label{
    margin: auto 0.2rem !important;
    font-size: 1rem;
}

form div input{transform: scale(1.3);}

input[type=checkbox]:checked{background-color: violet !important;}

@media (max-width: 928px ) and (min-width: 768px){
    #formulario{
        width: 80%;
    }

    #boton-enviar{
        width: 70%;
    }
}

@media (min-width: 929px){
    #formulario{
        width: 60%;
    }

    #boton-enviar{
        width: 50%;
    }
}